<div class="error-container">
  <h1>This website doesnt exist</h1>
  <h2>Please go back to the <a class="error-home-link" href="/">home page</a></h2>
</div>

<style>
body {
  background-image: url('/image/error.png');
  background-repeat: no-repeat;
  width: 100%; 
  height: 100%;
}
</style>