<div class="container">
  <h1 class="title">Ticket Viewer</h1>
  <div class="ticket_info">
    <% @tickets.each do |ticket| %>
    <p><%= ticket["subject"] %></p>
    <%end%>
  </div>
</div>
<div class="buttons">
  <form action="/api">
    <input name="page"value=1 type="hidden">
    <button class="btn">1</button>
  </form>
  <form action="/api">
    <input name="page"value=2 type="hidden">
    <button class="btn">2</button>
  </form> 
  <form action="/api">
    <input name="page"value=3 type="hidden">
    <button class="btn">3</button>
  </form>
  <form action="/api">
    <input name="page"value=4 type="hidden">
    <button class="btn">4</button>
  </form>
  <form action="/api">
    <input name="page"value=5 type="hidden">
    <button class="btn">5</button>
  </form>
</div>