<div class="api-unavailable">
  <h1>Our appologies!</h1>
  <h2>The API that you are trying to acces is currently unavailable.</h2>
  <h2>Please contact Zendesk for further information!</h2>
  <h2><a class="error-home-link" href="/">home page</a></h2>
</div>

<style>
.api-unavailable {
  text-align: center;
  color: black;
  margin: 30%;
}
body {
  background-repeat: no-repeat;
  width: 100%; 
  height: 100%;
  margin: 0px auto;
  background-position: center;
}
</style>