<div class="api-unavailable-container">
  <h1>Our APIologies!</h1>
  <h2>The Zendesk API is either currently unavailable or you have not passed the authentication. Please double check your email, password and the API url.</h2>
  <h2>If this issue remains, please contact Zendesk for further information!</h2>
  <h2><a class="error-home-link" href="/">home page</a></h2>
</div>

